<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<span th:text="${message}"></span>

<th:block th:each="file : ${files}">
    <p th:text="${file}"></p>
</th:block>

S3：
<hr />
<table>
    <tr><th>ファイル名</th><th>サイズ</th><th>時間</th></tr>
        <th:block th:each="map1 : ${s3list}">
            <tr>
                <td th:text="${map1.name}"></td>
                <td th:text="${map1.size}"></td>
                <td th:text="${map1.time}"></td>
            </tr>
        </th:block>
</table>

アップロード指定：
<hr />
<form method="post" enctype="multipart/form-data" action="/cms/upload" >
    <th:block th:each="dir : ${dirs}">
        <input type="radio" name="dir" th:text="${dir}" th:value="${dir}" />
    </th:block>
    <br />
    追加パス：<input type="text" name="addDir" />
    <br />
    ファイル：<input type="file" name="files" multiple/>
    <br />
    <input type="submit" value="送信する"/>
</form>

</body>
</html>
