<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<span th:text="${message}"></span>

<th:block th:each="file : ${files}">
    <p th:text="${file}"></p>
</th:block>

S3：
<hr />
<th:block th:each="map1 : ${s3list}">
    <p th:text="${map1.name}"></p>
    <p th:text="${map1.size}"></p>
    <p th:text="${map1.time}"></p>
</th:block>

アップロード指定：
<hr />
<form method="post" enctype="multipart/form-data" action="/cms/upload" >
    <input type="file" name="files" multiple/>
    <input type="submit" value="送信する"/>
</form>

</body>
</html>
