<!DOCTYPE html>
<html>
<body>
<form method="POST" action="/mail/send">
    メールアドレス：<input name="address" value=""><br />
    サブジェクト：<input name="subject" value=""><br />
    本文：<textarea rows="10" cols="60" name="body">
    #NAME# 様

    住所： #ADDRESS#

    テキスト
    </textarea><br />
    置換１：<input name="name1" value="#NAME#">
            <input name="replace1" value="【おなまえ】"><br />
    置換２：<input name="name2" value="#ADDRESS#">
            <input name="replace2" value="【住所】"><br />
    <input type="submit" name="送信" />
</form>

<hr />
webhook
<form method="POST" action="/mail/webhook">
    <input name="a" value="ああ">
    <input name="b" value="いい"><br/>
    <input type="submit" name="送信" />
</form>
<hr />
webhook_test
<form method="POST" action="/mail/webhook_test">
    <input name="a" value="12345">
    <input name="b" value="67890"><br/>
    <input type="submit" name="送信" />
</form>
</body>
</html>